*, *:before, *:after {
    font-family: roboto, Arial, Helvetica, sans-serif, system-ui;
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

#scene {
    display: block;
    width: 100%;
    height: 100%;
}